 #all-music {
     margin: 0 auto;
     margin-top: 50px;
     margin-bottom: 4rem;
     display: flex;
     flex-direction: column;
     text-align: center;
     align-items: center;
 }

 h2 {
     color: black;
     text-align: center;
     margin-top: 28px;
     font-size: 36px;
 }

 .music img {
     margin-right: 50px;
     height: 170px;
     width: 170px;
 }

 .details-btn {
     text-decoration: none;
     margin: auto 50px;
     font-size: 21px;
     width: 130px;
     padding: 10px;
     text-align: center;
 }

 #no-music {
     width: 40%;
     margin-right: 40px;
     margin-top: 10px;
 }

 #be-first {
     color: #2890ff;
     text-decoration: none;
     font-size: 30px;
 }

 #be-first:hover {
     color: #0056b3;
     transform: translateY(-5px);
 }

 /* rgb(171, 127, 230), rgba(203, 221, 37, 0.74) */
 i#white-layer {
     color: rgb(171, 127, 230);
 }

 i#yellow-layer {
     color: rgb(203, 221, 37, 0.74);
 }

 span#first-half {
     font-size: 37px;
     color: rgb(203, 221, 37, 0.74);
     margin-left: 15px;
 }

 span#second-half {
     font-size: 37px;
     color: rgb(171, 127, 230);
     margin-right: 15px;
 }

 .all-music-wrapper {
     justify-content: center;
 }