.home-page {
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
}

.home-page img {
    display: block;
    margin: auto;
    width: 70%;
    background-color: transparent;
    margin-bottom: 300px;
}


.home-content h2,
.home-content h3 {
    font-style: oblique;
    font-size: 38px;
    color: #302d2d;
    text-align: center;
}