.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 19%;
    height: 0;
    padding-bottom: 10%;
    position: relative;
}

.spinner-text {
    font-size: 30px;
    font-weight: bold;
    color: #333;
    text-align: center;
    position: absolute;
    top: 30%;
    left: 30%;
    transform: translate(-50%, -50%);
    animation: spin 2s linear infinite;
    border-radius: 50%;
    width: 80%;
    height: 80%;
    background-color: #7db1db;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}