 #all-music {
   margin-top: 50px;
   display: flex;
   flex-direction: column;
   text-align: center;
 }

 h2 {
   color: black;
   text-align: center;
   margin-top: 40px;
   font-size: 36px;
 }


 .music img {
   margin-right: 50px;
   height: 170px;
   width: 170px;
 }

 .details-btn {
   text-decoration: none;
   margin: auto 50px;
   font-size: 21px;
   width: 130px;
   padding: 10px;
   text-align: center;
 }

 #no-music {
   width: 40%;
   margin: 0 auto;
 }