 #all-music {
   margin-top: 50px;
   display: block;
 }

 h2 {
   color: black;
   text-align: center;
   font-size: 40px;
 }


 .music img {
   margin-right: 50px;
   height: 170px;
   width: 170px;
 }