#details-wrapper {
  color: rgb(7, 6, 6);
  background-color: #aadfd7;
  margin: 50px auto;
  min-height: 300px;
  width: 70%;
  border: 2px ridge rgb(210, 208, 208);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 3px 3px 0 rgba(0, 0, 0, 0.24);
}

#details-wrapper img {
  display: block;
  margin: 30px auto;
}

#details-name {
  text-align: center;
  font-weight: bold;
  font-size: 29px;
}

#details-artist {
  text-align: center;
  font-weight: bold;
  font-size: 26px;
}

#details-genre {
  text-align: center;
  font-weight: bold;
  font-size: 19px;
}

#info-wrapper {
  display: flex;
}

#details-description {
  font-size: 24px;
  width: 45%;
  margin: 30px auto;
  height: auto;
  text-align: center;
}

#details-description span {
  font-size: 21px;
}

#details-img {
  width: 250px;
  height: 250px;
}

#details-delete-wrapper {
  color: rgb(7, 6, 6);
  background-color: rgb(198, 201, 188);
  margin: 50px auto;
  min-height: 300px;
  width: 40%;
  border: 2px ridge rgb(210, 208, 208);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 3px 3px 0 rgba(0, 0, 0, 0.24);
}

#details-img {
  margin-left: 250px;
}

#delete-actions button {
  text-decoration: none;
  margin: auto 50px;
  font-size: 21px;
  width: 130px;
  padding: 10px;
  text-align: center;
  color: white;
  background: #5c9596;
  border: #5c9596;
}

h4 {
  text-align: center;
}

.details-artist {
  text-align: center;
  font-size: 19px;
}

.delete-message {
  text-align: center;
  font-size: 24px;
}

span {
  font-size: 17px;
}

#actions {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

#actions a {
  text-decoration: none;
  margin: auto 50px;
  font-size: 21px;
  width: 130px;
  padding: 10px;
  text-align: center;
  color: white;
  background: #5c9596;
}

#actions button {
  text-decoration: none;
  margin: auto 50px;
  font-size: 21px;
  width: 130px;
  padding: 10px;
  text-align: center;
  color: white;
  border-color: none;
  background: #5c9596;
}

#delete-actions {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

#delete-actions button {
  text-decoration: none;
  margin: auto 50px;
  font-size: 21px;
  width: 130px;
  padding: 10px;
  text-align: center;
  color: white;
  background: #5c9596;
}

#delete-actions a {
  text-decoration: none;
  margin: auto 50px;
  font-size: 21px;
  width: 130px;
  padding: 10px;
  text-align: center;
  color: white;
  background: #e06868;
}