footer {
  background-color: #e0ecf1;
  color: black;
  font-weight: bolder;
  text-align: center;
  padding: 0px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4rem;
}

footer p {
  margin-top: 200px;
  padding-top: 25px;
}