.music-item {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
    width: 700px;
    margin-left: 600px;
    border: 30px;
    margin-bottom: 30px;
    cursor: pointer;
}

.music-item:hover {
    transform: translateY(-10px);
    border-radius: 50px;
    border-color: blue;
}

.music-img {
    width: 270px;
    height: 200px;
    object-fit: cover;
    margin-right: 1rem;
}

.music-details {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    padding: 1rem;
}

.music-name {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0;
    font-size: 25px;
    padding-left: 10px;
}

.strong-name {
    font-size: 25px;
}

.strong-artist {
    font-size: 20px;

}

.music-artist {
    text-align: center;
    font-size: 1rem;
    margin: 0;
    margin-top: 0.5rem;
    font-size: 20px;
    padding-left: 10px;
}

.details-btn {
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: #2890ff;
    color: #fff;
    border: none;
    border-radius: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    font-size: 17px;
    margin-left: 116px;
    text-decoration: none;
}

.details-btn:hover {
    background-color: #0056b3;
}