body {
  background: rgb(217, 217, 217);
  margin: 0;
  padding: 0;
  overflow: auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3em 3em;
  background: rgb(255, 255, 255);
}

nav {
  background-color: #dddddd;
  height: 0px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

#welcome {
  color: black;
  text-decoration: underline;
}

#logo-img {
  height: 86px;
}

nav a {
  font-size: 1.5rem;
  color: #0a0a0a;
  font-weight: 400;
  font-size: 30px;
  margin-left: 15px;
}

header a {
  padding: 0 10px;
  text-decoration: none;
}

section {
  margin-bottom: 100px;
}