#search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem
}

#search input[type="text"] {
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    width: 15%;
    margin: 1px;
    margin-bottom: 20px;
}

#search button[type="submit"] {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 19px;
    border: none;
    font-size: 16px;
    background-color: #2890ff;
    color: white;
    cursor: pointer;
    position: relative;
    right: 1rem;
}

#search button[type="submit"]:hover {
    background-color: #0056b3;
}