@import "navigation.css";
@import "form.css";
@import "dashboard.css";
@import "details.css";
@import "music.css";
@import "home.css";
@import "footer.css";
@import "comment.css";
@import "search.css";
@import "notFound.css";